/*
 * btn
 * */

.c-btn {
  /* initial state */
  width: 100%;
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  line-height: 1.2;

  /* default style */
  &.--primary {
    color: var(--text-color);
    background-color: #fff;
    border: 1px solid #000;
    padding: 12px 16px;
    text-decoration: none;
  }

  &.--secondary {
    color: var(--text-color);
    background-color: #fff;
    font-size: var(--font-size-S);
    border: 1px solid var(--dividers);
    padding: 8px 16px;
  }

  &.--min-size-S {
    min-width: 120px;
    width: auto;
  }

  &.--min-size-M {
    min-width: 240px;
    width: auto;
  }

  &.--ico {
    position: relative;
    padding-right: 32px;
    &:before {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 8px;
    }
  }

}
