/*
 * cell
 * */

:root {
  --c-cell-border-color: var(--primary-border-color);
  --c-cell-margin: 16px;
  --c-cell-line-height: 1.5;
  --c-cell-font-size: var(--font-size-M);
}

.c-cell {
  flex-grow: 1;
  &:last-child { margin-bottom: 0; }

  /* element -------------------------------------------------- */
  &__list {
    margin-top: -1px;
    display: flex;
    flex-grow: 1;
    &:last-child { margin-bottom: -1px; }
    align-items: center;
  }

  &__area {
    display: flex;
    flex-grow: 1;
    align-items: center;
    color: var(--text-color);
  }

  &__body {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    border-top: 1px solid var(--c-cell-border-color);
    border-bottom: 1px solid var(--c-cell-border-color);
    align-items: center;
    max-width: 100%;
    &.--wrap {
      flex-wrap: wrap;
    }
  }

  &__item {
    flex-grow: 1;
    padding-top: var(--c-cell-margin);
    padding-bottom: var(--c-cell-margin);
    padding-right: var(--c-cell-margin);
    line-height: var(--c-cell-line-height);
    min-width: .1px;
    &:first-child { padding-left: 0;}
    &:last-child { padding-right: 0; }
    &.--term {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 210px;
      color: var(--secondary-text-color);
    }

    &.--term-S {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 112px;
      color: var(--secondary-text-color);
    }
    &.--min { flex-grow: 0; }
  }

  &__ico {
    position: relative;
    margin-right: 16px;
    & > * {
      display: flex;
      align-items: center;
    }
  }

  &__label {
    margin-right: 16px;
    padding-top: var(--c-cell-margin);
    padding-bottom: var(--c-cell-margin);
    color: var(--secondary-text-color);
  }


  /* modifier -------------------------------------------------- */
  /* any element */
  & .--ico {
    position: relative;
    padding-right: 32px;
    &:before {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 8px;
    }
  }

  /* solid */
  /* wrap */
  &--wrap {
    border-top: 1px solid var(--c-cell-border-color);
    border-bottom: 1px solid var(--c-cell-border-color);
    margin-bottom: -1px;
  }

  /* align */
  &.--align-top &__list,
  &.--align-top &__area,
  &.--align-top &__body { align-items: stretch; }
  &.--align-top &__ico {
    & > * {
      &:before {
        position: relative;
        transform: translateY(-50%);
        top: calc(var(--c-cell-margin) + var(--c-cell-line-height) * var(--c-cell-font-size) / 2);
      }

    }
    & svg {
      position: relative;
      top: calc(var(--c-cell-margin) + var(--c-cell-line-height) * -0.5rem / 2);
    }
  }

  /* type */
  &.--type-2 {
    padding-left: 16px;
  }


}
