/*
 * heading
 * */

.c-heading {
  &-L1 {
    font-weight: normal;
    font-size: 40px;
    color: #666;
    margin-bottom: 32px;
    border-bottom: 1px solid #ddd;
  }
  &-L2 {
    font-weight: normal;
    font-size: 24px;
    color: #666;
    margin-bottom: 16px;
    border-bottom: 1px solid #eee;
  }
  &-L3 {
    font-weight: normal;
    font-size: 12px;
    color: #999;
    margin-bottom: 4px;
  }
}
