/*
 * ico
 * */
:root {}

.c-ico {
  &:before {
    content: '';
    display: inline-block;
    font-size: 1rem;
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    background-size: 3200% 3200%;
    background-position: 0 0;
    background-image: url('./../svg/sprite.svg');
  }

  /* property ---------- */
  &.--mono-base-arrow-r:before {
    background-position: 0       0;
  }
  &.--mono-base-arrow-l:before {
    transform: rotate(180deg);
    background-position: 0       0;
  }
  &.--mono-base-arrow-u:before {
    transform: rotate(-90deg);
    background-position: 0       0;
  }
  &.--mono-base-arrow-d:before {
    transform: rotate(90deg);
    background-position: 0       0;
  }
  &.--mono-base-clock:before { background-position: -2.50em      0; }


  &.--mono-incolor-arrow-r:before {
    background-position: -1.25em       0;
  }
  &.--mono-incolor-arrow-l:before {
    transform: rotate(180deg);
    background-position: -1.25em       0;
  }
  &.--mono-incolor-arrow-u:before {
    transform: rotate(-90deg);
    background-position: -1.25em       0;
  }
  &.--mono-incolor-arrow-d:before {
    transform: rotate(90deg);
    background-position: -1.25em       0;
  }

  /* size property ---------- */
  &.--size {
    &-XXS:before { font-size: 0.5rem; }
    &-XS:before { font-size: 1rem; }
    &-S:before { font-size: 1.5rem; }
    &-M:before { font-size: 2rem; }
    &-L:before { font-size: 3rem; }
    &-XL:before { font-size: 4rem; }
  }

  &.--rotate {
    &-45:before { transform: rotate(45deg); }
    &-90:before { transform: rotate(90deg); }
    &-135:before { transform: rotate(135deg); }
    &-180:before { transform: rotate(180deg); }
    &-225:before { transform: rotate(225deg); }
    &-270:before { transform: rotate(270deg); }
  }

}



.c-tile {
  display: flex;
  &_item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    margin-top: 16px;
    margin-right: 16px;
    background-color: #eee;
    vertical-align: middle;
    &.--size {
      &-L { width: 64px; height: 64px; }
    }
  }
}

