/*
 * thumb
 * */

.c-thumb {
  position: relative;
  width: 100%;
  display: inline-block;

  &__img {
    width: 100%;
  }

  &__area {
  }

  &__ico {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }

  &__interaction {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &.--shadow {
      transition: opacity 0.3s ease;
      opacity: 1;
      box-shadow:0 -160px 80px -128px rgba(0,0,0,0.5) inset;
      &:hover {
        opacity: 0;
      }
    }
    &.--overlay {
      transition: background-color 0.3s ease;
      background-color: rgba(0,0,0,.4);
      &:hover { background-color: rgba(0,0,0,.2); }
    }
  }

  &__captionArea {
    &.--bottom {
      font-size: var(--font-size-S);
      position: absolute;
      padding: 12px;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      color: #fff;
    }

    &.--center {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      max-height:100%;
      text-align: center;
      color: #fff;
      text-overflow: clip;
      white-space: normal;
    }

    &.--size-S {
      font-size: var(--font-size-S);
    }
    &.--size-M {
      font-size: var(--font-size-M);
    }
    &.--size-L {
      font-size: var(--font-size-L);
    }
  }

  &__caption {
  }

  &__subCaption {
    font-size: var(--font-size-XS);
  }

}
