/*
 * trim
 * */

:root {
  --u-trim-size-XS: var(--img-size-XS);
  --u-trim-size-S: var(--img-size-S);
  --u-trim-size-M: var(--img-size-M);
  --u-trim-size-L: var(--img-size-L);
}

.u-trim {
  position: relative;
  overflow: hidden;
  &:after {
    display: block;
    padding-top: 100%;
    content: '';
  }

  & > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-top: auto;
    width: auto;
    height: 100%;
    margin-bottom: auto;
    transform: translateX(-50%);
  }

  &.--size {
    &-S { width: var(--u-trim-size-S); }
    &-M { width: var(--u-trim-size-M); }
    &-L { width: var(--u-trim-size-L); }
  }

}
