.t-color {
  &-base { color: var(--text-color); }
  &-secondary { color: var(--secondary-text-color); }
  &-disabled { color: var(--disabled-color); }
  &-accent { color: var(--accent-color); }
  &-primary { color: var(--primary-color); }
}
