.ui-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  z-index: 4;
  top: var(--header-height);

  &-transparency {
    &.--init {
      visibility: hidden;
    }
    &.--on {
      visibility: visible;
    }
  }

  &-dark {
    &.--init {
      top: var(--header-height);
      visibility: hidden;
      transition: all 0.3s ease;
      background-color: rgba(0,0,0,0);
    }
    &.--on {
      visibility: visible;
      background-color: rgba(0,0,0,0.3);
    }
  }

  &-white {
    &.--init {
      top: var(--header-height);
      visibility: hidden;
      transition: all 0.3s ease;
      background-color: rgba(255,255,255,0);
    }
    &.--on {
      visibility: visible;
      background-color: rgba(255,255,255,0.9);
    }
  }

  &.--fullscreen {
    top: 0;
  }

}
