:root {
  --l-grid-space-S: 16px;
  --l-grid-space-M: 24px;
}

.l-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  /* column */
  &.--single &__item { flex-basis: 100%; }
  &.--double &__item { flex-basis: calc(100% / 2); }
  &.--triple &__item { flex-basis: calc(100% / 3); }
  &.--quad &__item { flex-basis: calc(100% / 4); }
  &.--quinary &__item { flex-basis: calc(100% / 5); }

  /* space */
  &.--space-S { margin-top: -var(--l-grid-space-S); }
  &.--space-S &__item { margin-top: var(--l-grid-space-S); }
  &.--space-S&.--double &__item { flex-basis: calc((100% - var(--l-grid-space-S)) / 2 ); }
  &.--space-S&.--double &__item:not(:nth-child(2n - 1)) { margin-left: var(--l-grid-space-S); }
  &.--space-S&.--triple &__item { flex-basis: calc((100% - var(--l-grid-space-S) * 2) / 3); }
  &.--space-S&.--triple &__item:not(:nth-child(3n - 2)) { margin-left: var(--l-grid-space-S); }
  &.--space-S&.--quad &__item { flex-basis: calc((100% - (var(--l-grid-space-S) * 3)) / 4); }
  &.--space-S&.--quad &__item:not(:nth-child(4n - 3)) { margin-left: var(--l-grid-space-S); }
  &.--space-S&.--quinary &__item { flex-basis: calc((100% - var(--l-grid-space-S) * 4) / 5); }
  &.--space-S&.--quinary &__item:not(:nth-child(5n - 4)) { margin-left: var(--l-grid-space-S); }

  &.--space-M { margin-top: -var(--l-grid-space-M); }
  &.--space-M &__item { margin-top: var(--l-grid-space-M); }
  &.--space-M&.--double &__item { flex-basis: calc((100% - var(--l-grid-space-M)) / 2 ); }
  &.--space-M&.--double &__item:not(:nth-child(2n - 1)) { margin-left: var(--l-grid-space-M); }
  &.--space-M&.--triple &__item { flex-basis: calc((100% - var(--l-grid-space-M) * 2) / 3); }
  &.--space-M&.--triple &__item:not(:nth-child(3n - 2)) { margin-left: var(--l-grid-space-M); }
  &.--space-M&.--quad &__item { flex-basis: calc((100% - (var(--l-grid-space-M) * 3)) / 4); }
  &.--space-M&.--quad &__item:not(:nth-child(4n - 3)) { margin-left: var(--l-grid-space-M); }
  &.--space-M&.--quinary &__item { flex-basis: calc((100% - var(--l-grid-space-M) * 4) / 5); }
  &.--space-M&.--quinary &__item:not(:nth-child(5n - 4)) { margin-left: var(--l-grid-space-M); }

  /* layout */
  &.--wrap { flex-wrap: wrap; }
  &.--nowrap { flex-wrap: nowrap; }
  &.--between { justify-content: space-between; }

  /* direction */
  &.--align {
    &-center { align-items: center; }
    &-base { align-items: baseline; }
    &-start { align-items: flex-start; }
    &-end { align-items: flex-end; }
    &-stretch { align-items: stretch; }
  }

  &__item {
    min-width: .1px;
    &.--grow {
      min-width: auto;
      flex-grow: 1;
    }
    &.--shrink-0 {
      flex-shrink: 0;
    }
  }

}
