.l-img {
  &-XS {
    display: inline-block;
    width: var(--img-size-XS);
  }
  &-S {
    display: inline-block;
    width: var(--img-size-S);
  }
  &-M {
    display: inline-block;
    width: var(--img-size-M);
  }
  &-L {
    display: inline-block;
    width: var(--img-size-L);
  }
}
