@import "Foundation/sanitize";

ul, li {
  list-style-type: none;
}

body {
  padding: 32px;
}

section {
  margin-bottom: 40px;
}

.flex-conteiner {
  display: flex;
  border: 1px solid #999;
  max-width: 324px;
  padding: 1px;
  border-radius: 4px;
  margin-bottom: 16px;
}

[class^="flex-items"] {
  width: 40px;
  min-height: 40px;
  text-align: center;
  border-radius: 4px;
  position: relative;
  border: 1px solid #fefefe;
}
.flex-items {
  &-1 { background-color: #48f; }
  &-2 { background-color: #f48; }
}

.heading {
  &-L1 {
    font-weight: normal;
    font-size: 40px;
    color: #666;
    margin-bottom: 32px;
    border-bottom: 1px solid #ddd;
  }
  &-L2 {
    font-weight: normal;
    font-size: 24px;
    color: #666;
    margin-bottom: 16px;
    border-bottom: 1px solid #eee;
  }
  &-L3 {
    font-weight: normal;
    font-size: 12px;
    color: #999;
    margin-bottom: 4px;
  }
}

.num {
  font-size: 10px;
  display: inline-block;
  vertical-align: baseline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  line-height: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  color: #666;
}



/* Container */

.flex-direction {
  & > * { height: 40px; }
  &--row { flex-direction: row; }
  &--row-reverse { flex-direction: row-reverse; }
  &--column { flex-direction: column; }
  &--column-reverse { flex-direction: column-reverse; }
}

.flex-wrap {
  &--nowrap { flex-wrap: nowrap; }
  &--wrap { flex-wrap: wrap; }
  &--wrap-reverse { flex-wrap: wrap-reverse; }
}

.justify-content {
  & > * { height: 40px; }
  &--flex-start { justify-content: flex-start; }
  &--flex-end { justify-content: flex-end; }
  &--center { justify-content: center; }
  &--space-between { justify-content: space-between; }
  &--space-around { justify-content: space-around; }
}

.align-items {
  min-height: 64px;
  &--flex-start { align-items: flex-start; }
  &--flex-end { align-items: flex-end; }
  &--center { align-items: center; }
  &--baseline { align-items: baseline; }
  &--stretch { align-items: stretch; }
}

.align-content {
  flex-wrap: wrap;
  height: 120px;

  &--flex-start { align-content: flex-start; }
  &--flex-end { align-content: flex-end; }
  &--center { align-content: center; }
  &--space-between { align-content: space-between; }
  &--space-around { align-content: space-around; }
  &--stretch { align-content: stretch; }
}

/* Items */
.flex-grow {
  &-0 { flex-grow: 0; }
  &-1 { flex-grow: 1; }
  &-2 { flex-grow: 2; }
  &-3 { flex-grow: 3; }
  &-4 { flex-grow: 4; }
  &-5 { flex-grow: 5; }
}

.flex-shrink {
  flex-wrap: nowrap;
  & > * { width: 80px; }
  &-0 { flex-shrink: 0; }
  &-1 { flex-shrink: 1; }
  &-2 { flex-shrink: 2; }
  &-3 { flex-shrink: 3; }
  &-4 { flex-shrink: 4; }
  &-5 { flex-shrink: 5; }
}

.flex-basis {
  &-90 { flex-basis: 90px; }
  &-auto { flex-basis: auto; }
}

.order {
  &-0 { order: 0; }
  &-1 { order: 1; }
  &-2 { order: 2; }
  &-3 { order: 3; }
  &-4 { order: 4; }
  &-5 { order: 5; }
}
