@import "Foundation/sanitize";

body {
  color: #666;
  padding: 40px;
}

ul, li {
  list-style-type: none;
}

.wrapper {
  position: relative;
}

.display {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.imageView {
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  & li {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;
    & img {
      width: 100%;
    }
  }
}


.btn {
  font-size: 12px;
  border: 1px solid #ddd;
  width: 100%;
  line-height: 32px;
  display: inline-block;
  color: #999;
  flex-flow: bold;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.modArea {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  right: 40px;
  top: 40px;
}

.m {
  &b {
    &-8 { margin-bottom: 8px; }
    &-16 { margin-bottom: 16px; }
  }
}

.dotModule {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
  display: flex;
  & li {
    margin: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
  }
  & .dot--active {
    background-color: #f09;
  }
}
