#canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.ui {
  position: absolute;
  left: 16px;
  top: 16px;
  padding: 16px;
  background: #fff;
  z-index: 1;
  box-shadow: var(--shadow-S);
}
